default_lease_ttl = "168h"
max_lease_ttl = "720h"

backend "file" {
  path: "/vault/file"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = "false"
  tls_cert_file = "/caddy/data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ vault_host }}/{{ vault_host }}.crt"
  tls_key_file = "/caddy/data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ vault_host }}/{{ vault_host }}.key"
}

disable_clustering = true