default_lease_ttl = "168h"
max_lease_ttl = "720h"


listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = "false"
  tls_cert_file = "/caddy/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ vault_host }}/{{ vault_host }}.crt"
  tls_key_file = "/caddy/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ vault_host }}/{{ vault_host }}.key"
  x_forwarded_for_authorized_addrs = "{{ vault_x_forwarded_for_authorized_addrs }}"
  telemetry {
    unauthenticated_metrics_access = true
  }
}

api_addr = "https://{{ vault_host }}/"
disable_clustering = true

telemetry {
  disable_hostname = true
  prometheus_retention_time = "12h"
}

{% if vault_storage == "file" %}
storage "file" {
  path = "/vault/file"
}
{% elif vault_storage == "gcs" %}
storage "gcs" {
  bucket = "{{ vault_storage_bucket }}"
}
{% elif vault_storage == "s3" %}
storage "s3" {
  bucket = "{{ vault_storage_bucket }}"
  region = "{{ vault_storage_region }}"
}
{% endif %}