version: "3.7"

services:
  vault:
    image: vault
    container_name: vault
    networks:
      default:
      proxy:
      prometheus-network:
        aliases:
          - {{ vault_host }}
    volumes:
      - vault:/vault/file
      - /etc/vault/config.hcl:/vault/config/config.hcl
      - caddy:/caddy:ro
{% if vault_unuse_iam == true %}
{%   if vault_storage == "gcs" %}
      - /etc/vault/credentials.json:/credentials.json
{%   endif %}
{% endif %}
    ports:
      - 8200
    cap_add:
      - IPC_LOCK
{% if loki_host == "" %}
    logging:
      options:
        max-size: "10k"
        max-file: "5"
{% else %}
    logging:
      driver: loki
      options:
        loki-url: https://{{ loki_host }}/loki/api/v1/push
        loki-tenant-id: {{ loki_tenant_id }}
        max-size: "10k"
        max-file: "5"
{% endif %}
{% if vault_storage != "file" %}
    environment:
{%   if vault_storage == "gcs" %}
      GOOGLE_APPLICATION_CREDENTIALS: /credentials.json
{%   elif vault_storage == "s3" %}
      AWS_ACCESS_KEY_ID: {{ lookup('env', 'AWS_ACCESS_KEY_ID') }}
      AWS_SECRET_ACCESS_KEY:  {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
{%   endif %}
{% endif %}
    command: ["server"]

volumes:
  vault:
  caddy:
    external: true
networks:
  proxy:
    external: true
  prometheus-network:
    external: true
