version: "3.7"

services:
  vault:
    image: vault
    container_name: vault
    networks:
      - default
      - proxy
      - prometheus-network
    volumes:
      - vault:/vault/file
      - /etc/vault/config.hcl:/vault/config/config.hcl
      - caddy:/caddy:ro
    ports:
      - 8200
    cap_add:
      - IPC_LOCK
{% if loki_host == "" %}
    logging:
      options:
        max-size: "10k"
        max-file: "5"
{% else %}
    logging:
      driver: loki
      options:
        loki-url: https://{{ loki_host }}/loki/api/v1/push
        loki-tenant-id: {{ loki_tenant_id }}
        max-size: "10k"
        max-file: "5"
{% endif %}
    command: ["server"]

volumes:
  vault:
  caddy:
    external: true
networks:
  proxy:
    external: true
  prometheus-network:
    external: true
